/* === Navbar === */
.nav-container {
  background-color: var(--dark-bg);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px solid var(--primary-color);
  padding: 0.2rem 0.5rem;
}

.nav-links a {
  color: var(--white);
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.forgot-password-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.forgot-password-container h4 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.forgot-password-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.forgot-password-container input:focus {
  outline: none;
  border-color: #4caf50;
}

.forgot-password-container button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #cce415;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-password-container button:hover {
  background-color: #45a049;
}